header{
  background-color: #846C5B;


}

header h1{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: #332E3C;

}

header nav{

}
.about{
  background-color: #A29587;
  color: #332E3C;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  
}


.about-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.about-text{}

.aboutPic{}

