header {
  background-color: #846C5B;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color: #332E3C;
  margin: 0;
}


header nav {
  font-family: 'Roboto', sans-serif;
}


header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}


header ul li a {
  text-decoration: none;
  color: #332E3C;
  font-size: 1.2em;
  padding: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}


header ul li a:hover {
  color: #332E3C;
  background-color: #A29587;
}

.about {
  background-color: #A29587;
  color: #332E3C;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  height: 100vh;
}


.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.about-text {
  width: 60%;
  padding: 5px;
}

.aboutPic {
  width: 500px;
  height: 300px;
  padding: 20px;
}